* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #292929;
    color: #00dddd;
    padding: 20px;
}

#search-input {
    padding: 10px;
    width: 100%;
    max-width: 400px;
    font-size: 16px;
    color:#00dddd;
    border: 2px solid #b0b0b0;
    border-radius: 5px;
    margin-top: 20px;
    background-color: #292929;
}

#controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    gap: 10px
}

#filter-buttons {
    display: flex;
    gap: 10px;
}

.filter-btn {
    display: flex;
    cursor: pointer;
    border: 5px solid #191919;
    color: #00dddd;
    background-color: #292929;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s;
    font-weight: bold;
}

.filter-btn:hover, .filter-btn.active {
    background-color: #00ffff;
    border: 5px solid #00ffff;
    color: #191919;
}

#sort-select {
    padding: 10px;
    border-radius: 5px;
    border: 3px solid #191919;
    background-color: #292929;
    color: #00dddd;
    font-weight: bold;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#sort-select:focus {
    outline: none;
    border-color: #00ffff;
}

#sort-select option {
    background-color: #292929;
    color: #00dddd;
}

#sort-select option:hover,
#sort-select option:focus,
#sort-select option:checked {
    background-color: #00ffff;
    color: #191919;
}

.main-layout {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}

#events-container {
    flex: 3;
    min-width: 300px;
    flex-wrap: wrap;
    gap: 20px;
}

.event-card {
    flex: 1 1 250px;
    background-color: #191919;
    max-width: 500px;
    padding: 15px;
    border-radius: 8px;
}
.event-card h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #00dddd;
}
.event-card p {
    font-size: 14px;
    color: #00dddd;
}

.save-btn {
    margin-top: 10px;
    padding: 8px;
    width: 100%;
    background-color: #191919;
    color: #00dddd;
    border: 2px solid #00dddd;
    border-radius: 5px;
    cursor: pointer;
}
.save-btn:hover {
    background-color: #00dddd;
    color: #191919;
    border: 2px solid #00dddd;
}
.save-btn:disabled {
    background-color: #555555;
    color: #888888;
    border: 2px solid #555555;
}


.remove-btn {
    margin-top: 5px;
    padding: 4px 8px;
    background-color: #dc3545; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
}

.remove-btn:hover { 
    background-color: #c82333; 
}

#favorites-section {
    flex: 1;
    min-width: 250px;
    background-color: #191919;
    padding: 15px;
    border-radius: 8px;
}

#favorites-item {
    border-bottom: 1px solid #00dddd;
    padding: 10px 0;
    font-size: 14px;
}

.favorites-item:last-child {
    border-bottom: none;
}

